<template name="departments">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li><a href="{{pathFor 'home'}}"><i class="fa fa-home fa-fw"></i></a></li>
                <li><a href="{{pathFor 'agents'}}"><i class="fa fa-users fa-fw"></i></a></li>
                <li class="active"><i class="fa fa-building-o fa-fw"></i> Bộ phận</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <a href="#" class="btn btn-success" id="btnAddNew">
                <i class="fa fa-plus-circle fa-fw"></i>
                Thêm bộ phận
            </a>
            <table class="table">
                <thead>
                <tr>
                    <th>Tên bộ phận</th>
                    <th>Số Agents</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</template>
<template name="department_Form">
    <div class="row">
        <div class="col-md-6 col-lg-12">
            <input type="text" class="form-control" placeholder="Tên bộ phận - phòng ban" id="txtDepartmentName"/>
        </div>
    </div>
</template>